@model ErickPrueba.Models.ViewModels.CandidatoViewModel
@{
    ViewBag.Title = "Nuevo";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Nuevo", "Candidato", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-12">
            <div>
                @Html.LabelFor(d => d.Cedula)
                @Html.TextBoxFor(d => d.Cedula, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Cedula, null, new { @class = "erick" })
                @if (Model !=null&&!string.IsNullOrEmpty(Model.Validador)){@Model.Validador}
            </div><br/>

            <div>
                @Html.LabelFor(d => d.Nombres)
                @Html.TextBoxFor(d => d.Nombres, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Nombres, null, new { @class = "PS" })
            </div><br />

            <div>
                @Html.LabelFor(d => d.Apellidos)
                @Html.TextBoxFor(d => d.Apellidos, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Apellidos, null, new { @class = "PS" })
            </div><br />
        

            <div>
                @Html.LabelFor(d => d.FechaDeNacimiento)<br />
                @Html.EditorFor(d => d.FechaDeNacimiento, "", new { @class = "form-control" }) 
                @Html.ValidationMessageFor(d => d.FechaDeNacimiento, null, new { @class = "PS" })
            </div><br />
            
                  <div>
                      @Html.LabelFor(d => d.Trabajo_Actual)
                      @Html.TextBoxFor(d => d.Trabajo_Actual, "", new { @class = "form-control" })
                      @Html.ValidationMessageFor(d => d.Trabajo_Actual, null, new { @class = "PS" })
                  </div><br />
            
            <div>
                @Html.LabelFor(d => d.Expectativa_Salarial)
                @Html.TextBoxFor(d => d.Expectativa_Salarial, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Expectativa_Salarial, null, new { @class = "PS" })
            </div>

            <div style="text-align:right;">
                <input value="Guardar" class="btn btn-primary" type="submit" />
            </div>

        </div>

    </div>
}